body {
  background-color: #dcdcd1;
}
#header {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px rgb(171, 170, 170) solid;
}

#header h1 {
  margin-left: 10px;
}

#input {
  position: relative;
  top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#input {
  width: 200px;
  height: 25px;
  border-radius: 5px;
  border: 2px rgb(171, 170, 170) solid;
  margin-left: 20px;
}

#btn {
  height: 30px;
  border-radius: 10px;
  border: 3px black solid;
  background-color: #141413;
  color: #FAFAF8;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  left: 225px;
  top: 5px;
}